@font-face {
	font-family: "OpenSansRegular";
	src: url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
	src: url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
			 url("fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
